<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="light">
  <head>
    <meta charset="utf-8">
    <title>is-a.co</title>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- component -->
    <div class="flex items-center justify-center h-screen bg-red-100">
      <div class="bg-white rounded-2xl border shadow-x1 p-10 max-w-lg" id="form">
        <div class="flex flex-col items-center space-y-4">
          <h1 class="font-bold text-2xl text-gray-700 w-4/6 text-center" id="domain"></h1>
          <p class="text-sm text-gray-500 text-center w-5/6">
            Your subdomain has been successfully added. Have a question or problem <strong>is-a.co</strong>? You can open the issue on our <a href="/github" target="_blank" class="text-primary link">Github repository</a>!
            <br/>
            <br/>
            <span class="text-error"><strong>Expires on : 31 Dec, 2023</strong></span>
          </p>
          <a href="/">
            <button
              class="btn btn-error text-white px-4 py-3 w-full"
            >
              Back To Home
            </button>
          </a>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
      });

      let ok = params.domain? params.domain + "." : ""
      $("#domain").html(ok + "is-a.co")
    </script>
  </body>
</html>
